.hint-button {
    cursor: pointer;
    color: #0D0D0D;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    background-color: #DEE2E6;
    font-size: 0.8em;
    width: 2em;
    height: 2em;
    padding: 0;
    transition: all 0.2s ease;
}

.hint-button:hover {
    color: #DEE2E6;
    background-color: transparent;
    border: #DEE2E6 solid 1px;
}

.example-hint {
    border: #ADB5BD solid 1px;
    border-radius: 10px;
    background-color: #0D0D0D80;
    padding: 15px;
}

.example-table {
    width: 100%;
    overflow-x: auto;
    display: block;
}

.example-table table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
}

@media (max-width: 600px) {
    .example-table table {
        font-size: 0.75em;
    }
}

th {
    text-align: center;
    white-space: nowrap;
    padding: 8px;
}

td {
    border: #6C757D dashed 1px;
    padding: 8px;
    white-space: nowrap;
    overflow-wrap: break-word;
    vertical-align: top;
    font-size: 0.8em;
    color: #6C757D;
}

.skip-subtitle {}

.source-index {
    color: #5784FF;
}

.example-index {
    color: #6BBC5A;
}

.example-timing {
    color: #977DE3;
}

.matching-text {
    color: #FED82E;
}

.wrong-timing {
    color: #F25C54;
}
