.drag-and-drop-area {
    width: 50vw;
    margin: 0 auto;
    min-height: 160px;
    max-height: 200px;
    border: 2px dashed #6c757d;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    transition: all 0.3s ease;
    margin-bottom: 30px;
    padding: 0 50px;
    box-sizing: border-box;
    cursor: pointer;
}

.drag-and-drop-area.drag-active {
    border: 2px dashed #646cff;
    background-color: rgba(222, 226, 230, 0.08);
}

.drag-and-drop-area-sub-text {
    font-size: 0.8em;
    color: #6C757D;
}

@keyframes blink-border {
    0% {
        border-color: #6C757D;
    }

    50% {
        border-color: #DEE2E6;
    }

    100% {
        border-color: #6C757D;
    }
}

.drag-and-drop-area.blinking {
    animation: blink-border 2s ease-in-out infinite;
}
