.file-preview-section {
    justify-content: center;
    /* Center items horizontally */
    align-items: center;
    /* Center items vertically */
    display: flex;
    /* Use flexbox layout */
    gap: 20px;
    /* Space between flex items */
    margin-top: 20px;
    /* Margin at the top */
}

.source-file-preview-container,
.modified-file-preview-container {
    max-width: 600px;
    width: 100%;
}

.metadata-and-subtitle-preview-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.metadata-content {
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 30px;
    background-color: transparent;
    margin-bottom: 10px;
    width: 100%;
    height: 120px;
}

.subtitle-content {
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 10px;
    background-color: transparent;
    width: 100%;
}

.subtitle-entry {
    padding: 8px;
    margin-bottom: 2px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    word-wrap: break-word;
    /* Forces long words to break */
    white-space: normal;
    /* Ensures text wraps normally */
}

.subtitle-entry:hover {
    background-color: #e2e6ea !important;
}

.subtitle-entry div:first-child {
    font-weight: bold;
    color: #343a40;
}

.subtitle-entry div:nth-child(2) {
    color: #6c757d;
    font-family: monospace;
    margin: 4px 0;
}
