.file-preview-section {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    align-items: flex-start;
    /* Align items at the top */
    justify-content: center;
    /* Distribute space evenly */
}

.source-file-preview-container,
.modified-file-preview-container {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.metadata-and-subtitle-preview-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.metadata-content {
    border: 1px solid #6c757d;
    border-radius: 0px;
    padding: 20px;
    background-color: transparent;
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
}

.subtitle-content {
    border: 1px solid #6c757d;
    border-radius: 0px;
    padding: 10px;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
}

.subtitle-entry {
    padding: 8px;
    margin-bottom: 2px;
    border-radius: 4px;
    height: 90px;
    word-wrap: break-word;
    white-space: normal;
    font-family: monospace;
}

.subtitle-entry div:first-child {
    font-weight: bold;
    color: #6C757D;
}

.subtitle-entry div:nth-child(2) {
    color: #ADB5BD;
    margin: 4px 0;
}

.subtitle-entry div:nth-child(3) {
    color: #DEE2E6;
}

.subtitle-entry:nth-child(odd) {
    background-color: #161522;
}

/* Add media query for smaller screens */
@media (max-width: 1200px) {
    .file-preview-section {
        flex-direction: column;
        align-items: center;
    }

    .source-file-preview-container,
    .modified-file-preview-container {
        margin-bottom: 20px;
    }
}
