/* App.css */

.app-container {
    padding: 20px;
}

.operations-container {
    margin-top: 10px;
}

.error-message {
    background-color: #ffcccc;
    color: #cc0000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.upload-button {
    padding: 10px 15px;
    color: #dee2e6;
    border: 0.1em transparent;
    border-radius: 2px;
    background-color: #008000;
    cursor: pointer;
    display: inline-block;
}

.option-group {
    display: flex;
    gap: 10px;
}

.option-button {
    padding: 10px 15px;
    border: 0.1em transparent;
    border-radius: 0px;
}

.option-button.active {
    color: #dee2e6;
    border: 0.1em dashed;
}

.option-button.disabled {
    color: #6c757d;
    cursor: not-allowed;
}
